.header {
    background: $off-black;
    color: #fff;
    margin-bottom: $xl-size;
    padding: $m-size 0;

    @media(max-width: $mobile-breakpoint) {
        margin-bottom: $m-size;
    }

    &__title {
        font-size: $lg-size;
        margin: 0;
    }
    &__subtitle {
        color: $off-white;
        font-size: $m-size;
        font-weight: 500;
        margin: 0;
    }
}